/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    
}

h1 {
    color: #007bff;
}

.logo {
    display: block;
    margin: 0 auto;
}

blockquote {
    background: #eee;
    border-left: 4px solid #007bff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
}

p {
    margin: 10px 0;
} 

ul, ol {
    text-align: left;
    margin: 20px auto;
    padding: 0;
    list-style-position: inside;
}


ul li, ol li {
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

iframe {
    border: none;
    max-width: 100%;
}

.ranking-image {
    display: block;
    margin: 20px auto;
}
